- content_for :scripts do
  = raw(ScriptConversion)
#fancy
  .wrap
    %center
      %h1 Thanks for signing up.
    #footer{ style: "margin-top: 600px;"}
      &copy; 2011
      %a{ href: "http://themeforest.net/user/MTD?ref=MTD"}
        MTD
      All rights reserved.
      %ul{ class: "social"}
        %li
          %a{ href: "http://twitter.com/kangaroost"}
          %img{ src: "https://s3.amazonaws.com/Kangaroost/img/social/twitter.png", alt: "Twitter"}
        %li
          = link_to "Back", :action => :index
